 {{!-- display comment form --}}
 <div class="card">
    <h3 class="card-header">leave a comment</h3>
    <form class="card-body comment-form" id="comment-form">

      <label class="title">comment</label>
      <input id="comment" name="comment-body" class="form-input" />
      <div class="form-button-layout">
        {{#if logged_in}}
        <button type="submit" class="btn">say something</button>
        {{else}}
        <a href="/login">login to leave a comment</a>
        {{/if}}
      </div>
    </form>
  </div>

  {{#if logged_in}}
  <script src="/js/comment.js"></script>
  {{/if}}
</div>