{{!-- display comment info --}}
{{#if post.comments}}
<div class="comment-box">
    {{#each post.comments as |comment|}}
    <div class="comment-body">
        <p>comment by {{comment.user.username}} on {{format_date comment.date_created}}</p>
        <p>{{comment.body}}</p>
    </div>
    {{/each}}
</div>
{{/if}}