{{!-- display comment info --}}
<div class="comment">
    {{#each this}}
    <div>
        <section>
            <div>
                {{comment.body}}
            </div>
            <div>
                by {{username}} on {{format_date createdAt}}
            </div>
        </section>
    </div>
    {{/each}}
</div>