{{!-- display welcome, new post button, and user posts
tie posts to user.id --}}
<div>
  <h2>Welcome, {{username}}!</h2>
</div>

{{#if posts.length}}

<div class="post-list">
  <h3>yr posts:</h3>
  {{#each posts as |post|}}
  {{> dashboardPostDetails}}
  {{/each}}
</div>
{{/if}}

<button id="newPostButton" type="button" class="new-post-form">new post</button>

<script>
document.getElementById('newPostButton').addEventListener('click', function() {
  window.location.href = '/dashboard/postCreate';
});
</script>
