{{!-- display welcome, new post button, and user posts --}}
<div>
  <h2>Welcome, {{username}}!</h2>
</div>

{{#if posts.length}}

<div class="post-list">
  <h2>yr posts:</h2>
  {{#each posts as |post|}}
  {{> dashboardPostDetails post=post }}
  {{/each}}
</div>
{{/if}}

<div class="dash-btn">
  <button id="newPostButton" type="button" class="new-post-btn">new post</button>
</div>

<script>
  document.getElementById('newPostButton').addEventListener('click', function () {
    window.location.href = '/dashboard/postCreate';
  });
</script>