{{!-- display welcome, new post button, and user posts
tie posts to user.id --}}
<div>
  <div>
    <h2>Welcome, {{username}}!</h2>
    <button href="/dashboard/postCreate" type="submit" class="newbutton">new post<button>
  </div>
</div>

<div>
  {{#if posts.length}}
  <div class="post-list">
    <h3>yr posts:</h3>

    {{#each posts as |post|}}
    {{> postDetails}}
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="./js/dashboard.js"></script>