<div class="container">
  <div class="form">
    <h2>Login</h2>
    <form class="login-form">
      <div>
        <label class="login-text">username:</label>
        <input class="input" type="text" id="username-login" />
      </div>
      <div>
        <label class="login-text" id="password-text">password:</label>
        <input class="input" type="password" id="password-login"/>
      </div>
      <div>
        <button class="btn" type="submit">login</button>
      </div>
    </form>
  </div>

  <div>
    <h2>Signup</h2>
    <form class="signup-form">
      <div>
        <label class="login-text">username:</label>
        <input class="input" type="text" id="username-signup"/>
      </div>
      <div>
        <label class="login-text" id="password-text">password:</label>
        <input class="input" type="password" id="password-signup"/>
      </div>
      <div>
        <button class="btn" type="submit">signup</button>
      </div>
    </form>
  </div>
</div>

<script src="./js/login.js"></script>
<script src="./js/signup.js"></script>
