<section>
  <div class="post">
    <div class="title">
      <h2>
        <div class="post-header">
          <p class="post-title">create new post</p>
        </div>
      </h2>
      <form class="new-post-form">
        <div>
          <label for="post-title">title</label>
          <input type="text" id="post-title" name="post-title" />
        </div>
        <div>
          <label for="post-body">share yr thoughts</label>
          <textarea type="text" id="post-body" name="post-body"></textarea>
        </div>
        <button type="submit" class="button post-btn">create post</button>
      </form>
    </div>
</section>

<script src="/public/js/postCreate.js"></script>